@use './common.scss' as Common;
@use './variable.scss' as *;

*, body, html {
  padding: 0;
  margin: 0;
}

html {
  font-size: 12px;
}

body {
  background-color: $page-background;
}

ul {
  list-style: none;
}
img {
  width: 100%;
  height: 100%;
}

.page {
  background-color: $page-background;
}

