$page-background: #f2f3f5;
$juejin-font-1: #252933;
$juejin-font-2: #515767;
$juejin-font-3: #8a919f;
$juejin-font-4: rgba(194, 200, 209, 0.44);
$juejin-brand-1-normal: #1e80ff;
$juejin-brand-2-hover: #1171ee;
$juejin-brand-3-click: #0060dd;
$juejin-brand-4-disable: #abcdff;
$juejin-brand-5-light: #eaf2ff;

$media-query-threshold: (
        "sm": 576px,
        "md": 768px,
        "lg": 992px,
        "xl": 1200px,
        "xxl": 1400px
);