@use 'sass:color';

$page-background: #f2f3f5;
$juejin-font-1: #252933;
$juejin-font-2: rgba(81, 87, 103, 0.9);
$juejin-font-3: rgb(138, 145, 159);
$juejin-font-4: rgb(194, 200, 209);
$juejin-brand-1-normal: #1e80ff;
$juejin-brand-2-hover: #1171ee;
$juejin-brand-3-click: #0060dd;
$juejin-brand-4-disable: #abcdff;
$juejin-brand-5-light: #eaf2ff;
$juejin-gray-0: #fff;
$juejin-gray-1-1: #e4e6eb;
$juejin-gray-1-2: rgba(228, 230, 235, 0.5);
$juejin-gray-1-3: #e4e6eb;
$juejin-gray-2: #f2f3f5;
$juejin-gray-3: #f7f8fa;

$border-light-color: color.adjust($juejin-font-4, $alpha: -0.7);
$border-normal-color: color.adjust($juejin-font-4, $alpha: -0.5);
$bg-light-color: color.adjust($juejin-font-4, $alpha: -0.7);
$bg-lighter-color: color.adjust($juejin-font-4, $alpha: -0.9);

$media-query-threshold: (
        "sm": 576px,
        "md": 768px,
        "lg": 992px,
        "xl": 1200px,
        "xxl": 1400px
);