*, body, html {
    margin: 0;
    padding: 0;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  header {
    height: 55px;
    box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  main {
    flex-grow: 1;
  }

  footer {
    height: 100px;
    background-color: rgb(7, 34, 50);
    color: white;
    text-align: center;
  }
}