*, body, html {
  margin: 0;
  padding: 0;

  list-style: none;
}
// iphone6 viewport: 375px * 667px
// 1rem = 100px = 100vw / 375px * 100 = 0.26666666667(vw/px) * 100px = 26.666666667vw
// 1px = 1rem / 100px = 0.01rem
// x(px) = x * 0.01rem

// window.devicePixelRatio = 2
// 1px(物理像素) = 0.5px(css逻辑像素)
// 1px(css逻辑像素) = 2px(物理像素)

html {
  font-size: 26.666666667vw;
  //font-size: 100px;
}

body {
  font-size: 0.16rem;
  //font-size: 16px;
}

.divider {
  height: 0.01rem;
  background-color: #ccc;
  margin: 0.2rem 0;
}