/*@font-face {*/
/*  font-family: "iconfont"; !* Project id 4942257 *!*/
/*  src: url('@/static/fonts/iconfont.woff2?t=1749996270897') format('woff2'),*/
/*       url('@/static/fonts/iconfont.woff?t=1749996270897') format('woff'),*/
/*       url('@/static/fonts/iconfont.ttf?t=1749996270897') format('truetype');*/
/*}*/

/*.iconfont {*/
/*  font-family: "iconfont" !important;*/
/*  font-size: 16px;*/
/*  font-style: normal;*/
/*  -webkit-font-smoothing: antialiased;*/
/*  -moz-osx-font-smoothing: grayscale;*/
/*}*/

/*.icon-zhankai:before {*/
/*  content: "\e62b";*/
/*}*/

/*.icon-sousuo:before {*/
/*  content: "\e63b";*/
/*}*/

/*.icon-swiper-right:before {*/
/*  content: "\e68c";*/
/*}*/

/*.icon-swiper-left:before {*/
/*  content: "\e68d";*/
/*}*/
@font-face {
  font-family: "iconfont"; /* Project id 4942257 */
  src: url('//at.alicdn.com/t/c/font_4942257_17v40b4e0q1.woff2?t=1750597532212') format('woff2'),
  url('//at.alicdn.com/t/c/font_4942257_17v40b4e0q1.woff?t=1750597532212') format('woff'),
  url('//at.alicdn.com/t/c/font_4942257_17v40b4e0q1.ttf?t=1750597532212') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dianzanliang:before {
  content: "\e628";
}

.icon-gengduo:before {
  content: "\e609";
}

.icon-liulanliang:before {
  content: "\e668";
}

.icon-yuedureading19-copy:before {
  content: "\e629";
}

.icon-ios:before {
  content: "\e676";
}

.icon-anzhuo:before {
  content: "\e64d";
}

.icon-qingdan:before {
  content: "\e62c";
}

.icon-book-:before {
  content: "\e680";
}

.icon-kaifagongju:before {
  content: "\e60e";
}

.icon-qianduan:before {
  content: "\e7ae";
}

.icon-zonghejianguan_tongjifenxi_nor:before {
  content: "\e620";
}

.icon-guanzhuliebiao-shouqi:before {
  content: "\e65a";
}

.icon-a-jiangzhuangpaihang:before {
  content: "\e889";
}

.icon-houduan:before {
  content: "\e70b";
}

.icon-robot-2-fill:before {
  content: "\e7a2";
}

.icon-huiyuanguanli-copy:before {
  content: "\e64f";
}

.icon-xiaoxitongzhi:before {
  content: "\e603";
}

.icon-sanjiao_xia:before {
  content: "\e631";
}

.icon-shipinbofangliang:before {
  content: "\e606";
}

.icon-pinglunliang:before {
  content: "\e669";
}

.icon-xiangxia:before {
  content: "\e600";
}

.icon-BILIBILI:before {
  content: "\e607";
}

.icon-bilibili:before {
  content: "\e766";
}

.icon-sousuo1:before {
  content: "\e60d";
}

.icon-zhankai:before {
  content: "\e62b";
}

.icon-sousuo:before {
  content: "\e63b";
}

.icon-swiper-right:before {
  content: "\e68c";
}

.icon-swiper-left:before {
  content: "\e68d";
}
