@use 'sass:color';

$theme-color: #e42471;


.main {
  width: 300px;
  height: 300px;
  background-color: #d3dbe3;


  @for $i from 1 through 9 {
    $amount: $i * 6%;
    div:nth-of-type(#{$i}) {
      background-color: color.scale($color: $theme-color, $red: -$amount);
    }
  }
}

.main {
  display: grid;
  //$columns: 100px 100px 100px;
  $columns: 1fr 2fr 1fr;
  $rows: 100px 100px 100px;
  grid-template-columns: $columns;
  grid-template-rows: $rows;
}
